{% extends "index.html" %}

{% block body %}
<div class="container">
  <div class="row">
      <!--Navbar-->
      <nav class="navbar navbar-dark default-color">
  <form class="form-inline">
    <div class="md-form my-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
  </form>
</nav>

<br>




    <div class="col-12">
      <h1 class="welcome-header"> Welcome to Grandmas Cook Book!</h1>
      <ul class="list-group"></ul>
      {% for ingred in ingred_list %}
      <li class="list-group-item">{{ingred}}</li>
      {% endfor %}
      </ul>
    </div>


  </div>
</div>

{% endblock %}
