{% extends "index.html" %}

{% block body %}
<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="text-center">
        <h1 class="welcome-header"> Welcome to Grandmas Cook Book!</h1>
      </div>
      
      <input type="text" id="myInput" onkeyup="searchIngredients()" placeholder="Search for ingredients.." title="Type in a name">

         <ul class="search-table" id="myUL">
           {% for ingred in ingred_list %}
              <li class="list-group-item"><a href="{{ url_for('model',ingedient = ingred)}}">{{ingred}}</a></li>
           {% endfor %}
         </ul>

          #need this to be cuisine
         <input type="text" id="myInput" onkeyup="searchIngredients()" placeholder="Search for ingredients.." title="Type in a name">
         <ul class="search-table" id="myUL">
          {% for ingred in ingred_list %}
             <li class="list-group-item"><a href="{{ url_for('model',ingedient = ingred)}}">{{ingred}}</a></li>
          {% endfor %}
          </ul>
    </div>

  </div>
</div>

<p>Filter by cuisine: <input type="string" id="cuisine" value=""></p>
<button onclick="filterCuisine()">Filter</button>

<p>Returned ingredients by cuisine: <span id="demo"></span></p>

<script>
  function searchIngredients() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

  //what filters through df
  function filterCheck(cuisine) {
    return cuisine == document.getElementById("cuisine").value;
  }
  
  function filterCuisine(){
    document.getElementById("demo").innerHTML = ages.filter(checkAdult);
  }


</script>

{% endblock %}
